<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Styling/Home.css">
</head>
<body>

    <header>
        <h1>Home</h1>
        <p th:text="${session.user.name + ' ' + session.user.surname}" class="username_welcome">NOME COGNOME</p>
    </header>


    <div class="container">
        <table class="groups_list">
            <thead>
            <tr>
                <th>I miei gruppi</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="group : ${groups}">
                <td th:text="${group.title}"></td>
                <td th:text="${group.id}"></td>
                <td><a th:href="" class="details_btn">Dettagli</a></td>
            </tr>
            </tbody>
        </table>

        <p th:text="${noGroupsMessage}" class="noGroupsMsg"></p>

        <p class="create_group_btn">Crea gruppo</p>
        <p class="logout_btn"><a href="#">Logout</a></p>
    </div>
</body>
</html>